<% 
// functions
const calculateTotal = (Itemcategory) => {
  let total = 0;
  for (budgetItem of budgetdetails) {
    if(budgetItem.category === Itemcategory) {
      total += parseInt(budgetItem.amount);
    }
  }
  return total;
};

const calculateMultipleTotals = (itemcategory1, itemcategory2) => {
  let total = 0;
  for (budgetItem of budgetdetails) {
    if(budgetItem.category === itemcategory1 || budgetItem.category === itemcategory2) {
      total += parseInt(budgetItem.amount);
    }
  }
  return total;
};

// variables
const totalIncome = calculateTotal('income');
const firmExpenseTotal = calculateTotal('firm-expense');
const flexExpenseTotal = calculateTotal('flex-expense');
const expectedIncome = budgetplan[0].expectedincome;
const expectedFirmExpenses = budgetplan[0].expectedfirmexpenses;
const expectedFlexExpenses = budgetplan[0].expectedflexexpenses;
const totalExpectedExpense = parseInt(expectedFirmExpenses) + parseInt(expectedFlexExpenses);
const incomepercentage = Math.round(100 / (expectedIncome / totalIncome));
const firmpercentage = Math.round(100 / (expectedFirmExpenses / firmExpenseTotal));
const flexpercentage = Math.round(100 / (expectedFlexExpenses / flexExpenseTotal));
%>


<dl class='budget-dl'>
  <dt>Check This Month's Progress</dt>
  <dd class="percentage percentage-100 expected-color"><span class="text">Expected Income: $<%= expectedIncome %></span>
  </dd>
  <dd class="percentage percentage-<%=incomepercentage%> actual-color"><span class="text">Current Income:
      $<%=totalIncome %></span></dd>
  <dd class="percentage percentage-100 expected-color"><span class="text">Expected Firm Expenses:
      $<%=expectedFirmExpenses%></span>
  </dd>
  <dd class="percentage percentage-<%=firmpercentage%> actual-color"><span class="text">Current Firm Expenses:
      $<%=firmExpenseTotal%></span></dd>
  <dd class="percentage percentage-100 expected-color"><span class="text">Expected Flex Expenses:
      $<%=expectedFlexExpenses%></span>
  </dd>
  <dd class="percentage percentage-<%=flexpercentage%> actual-color"><span class="text">Current Flex Expenses:
      $<%=flexExpenseTotal%></span></dd>
</dl>

<ul class="collection with-header">
  <li class="collection-header">
    <h4>View Your Expenses / Income In Detail: </h4>
  </li>
  <li class="collection-item"><a href="/budgetdetails/income">Income</a></li>
  <li class="collection-item"><a href="/budgetdetails/firm-expense">Firm Expense</a></li>
  <li class="collection-item"><a href="/budgetdetails/flex-expense">Flex Expense</a></li>
</ul>