<% 
// functions
const calculateTotal = (Itemcategory) => {
  let total = 0;
  for (budgetItem of budgetdetails) {
    if(budgetItem.category === Itemcategory) {
      total += parseInt(budgetItem.amount);
    }
  }
  return total;
};

const calculateMultipleTotals = (itemcategory1, itemcategory2) => {
  let total = 0;
  for (budgetItem of budgetdetails) {
    if(budgetItem.category === itemcategory1 || budgetItem.category === itemcategory2) {
      total += parseInt(budgetItem.amount);
    }
  }
  return total;
};

// variables
const totalIncome = calculateTotal('income');
const firmExpenseTotal = calculateTotal('firm-expense');
const flexExpenseTotal = calculateTotal('flex-expense');
const expectedIncome = budgetplan[0].expectedincome;
const expectedFirmExpenses = budgetplan[0].expectedfirmexpenses;
const expectedFlexExpenses = budgetplan[0].expectedflexexpenses;
const totalExpectedExpense = parseInt(expectedFirmExpenses) + parseInt(expectedFlexExpenses);
const incomepercentage = Math.round(100 / (expectedIncome / totalIncome));
const firmpercentage = Math.round(100 / (expectedFirmExpenses / firmExpenseTotal));
const flexpercentage = Math.round(100 / (expectedFlexExpenses / flexExpenseTotal));
%>


<dl class='budget-dl'>
  <dt>
    <h4>Check This Month's Progress:</h4> <br />
    <p>Click on a 'current' bar graph to view all budget items in that category</p>
  </dt>
  <dd class="percentage percentage-100"><span class="text">Expected Income: $<%= expectedIncome %></span>
  </dd>
  <dd class="percentage percentage-<%=incomepercentage%> percentage-income"><span class="text">Current Income:
      $<%=totalIncome %></span></dd>
  <dd class="percentage percentage-100"><span class="text">Expected Firm Expenses:
      $<%=expectedFirmExpenses%></span>
  </dd>
  <dd class="percentage percentage-<%=firmpercentage%> percentage-firmexpense"><span class="text">Current Firm Expenses:
      $<%=firmExpenseTotal%></span></dd>
  <dd class="percentage percentage-100"><span class="text">Expected Flex Expenses:
      $<%=expectedFlexExpenses%></span>
  </dd>
  <dd class="percentage percentage-<%=flexpercentage%> percentage-flexexpense"><span class="text">Current Flex Expenses:
      $<%=flexExpenseTotal%></span></dd>
</dl>