<div class="row">
  <ul class="collection with-header budget-detail-collection">
    <li class="collection-header">
      <h4><%=heading%></h4>
      <p>Click on the description to edit or on the trash can to delete your budget item!</p>
    </li>
    <% 
        for (budgetItem of budgetdetails) {
          if(budgetItem.category === budgetcategory) {
    let newDate = new Date(budgetItem.date)
    newDate = newDate.toDateString();
    %>

    <li class="collection-item budget-detail-collection-item">
      <div class="right-hand-side ">
        <p class="collection-item-description"><a
            href="/budgetdetails/<%=budgetItem._id%>/edit"><%=budgetItem.description%></a></p>
        <p><%=newDate %></p>
        <p>$<%=budgetItem.amount%></p>

      </div>
      <div class="left-hand-side">
        <form class="delete-form" action="/budgetdetails/<%=budgetItem._id%>?_method=DELETE" method="POST">
          <span class="material-icons delete-icon"> delete_outline</span>
          <input type="submit" class="delete-button" id="delete-button" value="">
        </form>
      </div>
    </li>



    <% }
        }%>
  </ul>
</div>