<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')%>

<body>
  <div class="content">
    <%- include('../partials/nav.ejs')%>

    <div class="container">
      <h1>Edit to Your Income / Expenses</h1>
      <div class="row">
        <form class="col s12" action="/budgetdetails/<%=budgetItem.id%>?_method=PUT" method="POST">
          <div class="row">
            <div class="input-field col s6">
              <input type="text" name="date" class="datepicker" value="<%=budgetItem.date%>" required />
              <label for="date">Date</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <select name="category" required>
                <option value="" disable selected>--Please choose an option--</option>
                <option value="income">Income</option>
                <option value="flex-expense">Flex Expense</option>
                <option value="firm-expense">Firm Expense</option>
              </select>
              <label for="category">Category </label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input type="number" name="amount" id="amount" value="<%=budgetItem.amount%>" required />
              <label for="amount">Amount</label>
            </div>
          </div>
          <div class=" row">
            <div class="input-field col s12">
              <input type="text" name="description" id="description" value="<%=budgetItem.description%>" required />
              <label for="description">Description</label>
            </div>
          </div>
          <div class="row">
            <input class="btn col s4" type="submit" value="Add New Income/Expense">
          </div>
        </form>
      </div>
    </div>
  </div>
  <%- include('../partials/footer.ejs')%>
</body>

</html>