<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs')%>
</head>

<body>
  <!-- functions -->
  <%
  const calculateTotal = (Itemcategory) => {
    let total = 0;
    for (budgetItem of budgetdetails) {
      if(budgetItem.category === Itemcategory) {
        total += parseInt(budgetItem.amount);
      }
    }
    return total;
  };

  const calculateMultipleTotals = (itemcategory1, itemcategory2) => {
    let total = 0;
    for (budgetItem of budgetdetails) {
      if(budgetItem.category === itemcategory1 || budgetItem.category === itemcategory2) {
        total += parseInt(budgetItem.amount);
      }
    }
    return total;
  };

  const colorCode = (expectedamount, realamount) => {
    if (parseInt(expectedamount) - parseInt(realamount) > 0) {
      return 'greenColor';
    } else {
      return 'redColor';
    }
  };

  const getCurrentMonth = () => {
    const monthArray = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'December'];
    const currentDate = new Date();
    const currentMonth = currentDate.getMonth();
    const monthString = monthArray[currentMonth];
    return monthString;
  };
  %>



  <%
  <!-- Variables Used In Page  -->
  const totalIncome = calculateTotal('income');
  const totalExpense = calculateMultipleTotals('flex-expense', 'firm-expense');
  const firmExpenseTotal = calculateTotal('firm-expense');
  const flexExpenseTotal = calculateTotal('flex-expense');
  const expectedIncome = budgetplan[0].expectedincome;
  const expectedFirmExpenses = budgetplan[0].expectedfirmexpenses;
  const expectedFlexExpenses = budgetplan[0].expectedflexexpenses;
  const totalExpectedExpense = parseInt(expectedFirmExpenses) + parseInt(expectedFlexExpenses);
  const actualTotalColorClass = colorCode(totalExpectedExpense, totalExpense);
  const actualFirmExpenseColorClass = colorCode(expectedFirmExpenses, firmExpenseTotal);
  const actualFlexExpenseColorClass = colorCode(expectedFlexExpenses, flexExpenseTotal);
  const currentMonth = getCurrentMonth();
  %>
  <div class="content">
    <%- include('../partials/nav.ejs')%>
    <div class="container">
      <h2 class="center">Hello, <%= currentUser.firstname %>! Here's Your Budget Overview for <%=currentMonth%>:</h2>
      <div class="row">
        <span>
          <div class="col s6 center">
            <h2>TOTAL EARNED</h2>
            <h3 class="center">
              $<%=totalIncome%>
            </h3>
          </div>
        </span>
        <span>
          <div class="col s6 center">
            <h2>TOTAL SPENT</h2>
            <h3 class="center <%=actualTotalColorClass%>">
              $<%=totalExpense%></h3>
          </div>
        </span>
      </div>
      <hr>
      <div class="row">
        <table class="col s12 striped centered responsive-table">
          <thead>
            <tr>
              <th>Budget Category</th>
              <th>Total Estimated</th>
              <th>Current Actual Total</th>
            </tr>
          <tbody>
            <tr>
              <td><a href="/budgetdetails/income">Income</a></td>
              <td>$<%=expectedIncome%></td>
              <td>$<%= totalIncome %></td>
            </tr>
            <tr>
              <td><a href="/budgetdetails/firm-expense">Firm Expense</a></td>
              <td>$<%=expectedFirmExpenses%></td>
              <td class="<%=actualFirmExpenseColorClass%>">
                $<%=firmExpenseTotal%>
              </td>
            </tr>
            <tr>
              <td><a href="/budgetdetails/flex-expense">Flex Expense</a></td>
              <td>$<%=expectedFlexExpenses%></td>
              <td class="<%=actualFlexExpenseColorClass%>">
                $<%=flexExpenseTotal%>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr>
      <div class="row">
        <table class="collapsible centered responsive-table highlight ">
          <h4>Income</h4>

          <thead>
            <tr>
              <th>Date</th>
              <th>Amount</th>
              <th>Description</th>
              <!-- <th>View | Edit | Delete</th> -->
            </tr>
          <tbody>
            <%
        for (budgetItem of budgetdetails) {
          <!-- budgetItem.date = formatDate(budgetItem.date); -->
          if(budgetItem.category === 'income') {
            let newDate = new Date(budgetItem.date);
            newDate = newDate.toDateString();
            
        %>
            <tr>
              <td class="col s2"><%= newDate %></td>
              <td class="col s2">$<%= budgetItem.amount %></td>
              <td class="col s5"><%= budgetItem.description %></td>
              <!-- <td class="col s3 btn" href="/budgetdetails/<%= budgetItem._id %>">See More Details</td> -->
            </tr>
            <%
          }
        }
        %>
          </tbody>
      </div>
      <div class="row">
        <table class="collapsible centered responsive-table highlight ">
          <h4>Flex Expenses</h4>

          <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Description</th>
            <!-- <th>View | Edit | Delete</th> -->
          </tr>
          <tbody>
            <%
        for (budgetItem of budgetdetails) {
          <!-- budgetItem.date = formatDate(budgetItem.date); -->
          if(budgetItem.category === 'flex-expense') {
            let newDate = new Date(budgetItem.date);
            newDate = newDate.toDateString();
        %>
            <tr>
              <td><%= newDate %></td>
              <td>$<%= budgetItem.amount %></td>
              <td><%= budgetItem.description %></td>
              <!-- <td class="btn" href="/budgetdetails/<%= budgetItem._id %>">See More Details</td> -->
            </tr>
            <%
          }
        }
        %>
          </tbody>
      </div class="row">
      <div>
        <table class="collapsible centered responsive-table highlight ">
          <h4>Firm Expenses</h4>
          <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Description</th>
            <!-- <th>View | Edit | Delete</th> -->
          </tr>
          <tbody>
            <%
        for (budgetItem of budgetdetails) {
          <!-- budgetItem.date = formatDate(budgetItem.date); -->
          if(budgetItem.category === 'firm-expense') {
            let newDate = new Date(budgetItem.date);
            newDate = newDate.toDateString();
        %>
            <tr>
              <td><%= newDate %></td>
              <td>$<%= budgetItem.amount %></td>
              <td><%= budgetItem.description %></td>
              <!-- <td class="btn" href="/budgetdetails/<%= budgetItem._id %>">See More Details</td> -->
            </tr>
            <%
          }
        }
        %>
          </tbody>
      </div>
    </div>
  </div>
  <%- include('../partials/footer.ejs')%>
</body>

</html>