<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs')%>
</head>

<body>
  <!-- functions -->
  <%
  const calculateTotal = (Itemcategory) => {
    let total = 0;
    for (budgetItem of budgetdetails) {
      if(budgetItem.category === Itemcategory) {
        total += parseInt(budgetItem.amount);
      }
    }
    return total;
  }
  const calculateMultipleTotals = (itemcategory1, itemcategory2) => {
    let total = 0;
    for (budgetItem of budgetdetails) {
      if(budgetItem.category === itemcategory1 || budgetItem.category === itemcategory2) {
        total += parseInt(budgetItem.amount);
      }
    }
    return total;
  }

  const colorCode = (expectedamount, realamount) => {
    if (parseInt(expectedamount) - parseInt(realamount) > 0) {
      return 'greenColor';
    } else {
      return 'redColor';
    }
  }
  %>

  <%
  <!-- Variables Used In Page  -->
  const totalIncome = calculateTotal('income');
  const totalExpense = calculateMultipleTotals('flex-expense', 'firm-expense');
  const firmExpenseTotal = calculateTotal('firm-expense');
  const flexExpenseTotal = calculateTotal('flex-expense');
  const expectedIncome = budgetplan[0].expectedincome;
  const expectedFirmExpenses = budgetplan[0].expectedfirmexpenses;
  const expectedFlexExpenses = budgetplan[0].expectedflexexpenses;
  const totalExpectedExpense = parseInt(expectedFirmExpenses) + parseInt(expectedFlexExpenses);
  
  const actualTotalColorClass = colorCode(expectedIncome, totalIncome);

  const actualFirmExpenseColorClass = colorCode(expectedFirmExpenses, firmExpenseTotal);

  const actualFlexExpenseColorClass = colorCode(expectedFlexExpenses, flexExpenseTotal);
  %>

  <%- include('../partials/nav.ejs')%>
  <div class="container">
    <h1 class="center">Hello, <%= currentUser.firstname %>! Here's Your Budget Overview for this Month.</h1>
    <div class="row">
      <span>
        <div class="col s6 center">
          <h2>TOTAL EARNED</h2>
          <h3 class="center">
            $<%=totalIncome%>
          </h3>
        </div>
      </span>
      <span>
        <div class="col s6 center">
          <h2>TOTAL SPENT</h2>
          <h3 class="center">
            $<%=totalExpense%></h3>
        </div>
      </span>
    </div>
    <hr>
    <div class="row">
      <table class="col s12 striped centered responsive-table">
        <thead>
          <tr>
            <th>Budget Category</th>
            <th>Total Estimated</th>
            <th>Current Actual Total</th>
          </tr>
        <tbody>
          <tr>
            <td>Income</td>
            <td>$<%=expectedIncome%></td>
            <td class="<%=actualTotalColorClass%>">$<%= totalIncome %></td>
          </tr>
          <tr>
            <td>Firm Expense</td>
            <td>$<%=expectedFirmExpenses%></td>
            <td class="<%=actualFirmExpenseColorClass%>">
              $<%=firmExpenseTotal%>
            </td>
          </tr>
          <tr>
            <td>Flex Expenses</td>
            <td>$<%=expectedFlexExpenses%></td>
            <td class="actualFlexExpenseColorClass">
              $<%=flexExpenseTotal%>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr>
    <div class="row">
      <h4>Income</h4>
      <ul class="col s12 collapsible">
        <%
        for (budgetItem of budgetdetails) {
          <!-- budgetItem.date = formatDate(budgetItem.date); -->
          if(budgetItem.category === 'income') {
            let newDate = new Date(budgetItem.date);
            newDate = newDate.toDateString();
            
        %>
        <li class="row">
          <p class="col s5"><%= newDate %></p>
          <p class="col s5">$<%= budgetItem.amount %></p>
          <a class="col s2" href="/budgetdetails/<%= budgetItem._id %>">See More Details</a>
        </li>
        <%
          }
        }
        %>
      </ul>
    </div>
    <div class="row">
      <h4>Flex Expenses</h4>
      <ul class="col s12 collapsible">
        <%
        for (budgetItem of budgetdetails) {
          <!-- budgetItem.date = formatDate(budgetItem.date); -->
          if(budgetItem.category === 'flex-expense') {
            let newDate = new Date(budgetItem.date);
            newDate = newDate.toDateString();
        %>
        <li class="row">
          <p class="col s5"><%= newDate %></p>
          <p class="col s5">$<%= budgetItem.amount %></p>
          <a class="col s2" href="/budgetdetails/<%= budgetItem.id %>">See More Details</a>
        </li>
        <%
          }
        }
        %>
      </ul>
    </div>
    <div class="row">
      <h4>Firm Expenses</h4>
      <ul class="col s12 collapsible">
        <%
        for (budgetItem of budgetdetails) {
          <!-- budgetItem.date = formatDate(budgetItem.date); -->
          if(budgetItem.category === 'firm-expense') {
            let newDate = new Date(budgetItem.date);
            newDate = newDate.toDateString();
        %>
        <li class="row">
          <p class="col s5"><%= newDate %></p>
          <p class="col s5">$<%= budgetItem.amount %></p>
          <a class="col s2" href="/budgetdetails/<%= budgetItem.id %>">See More Details</a>
        </li>
        <%
          }
        }
        %>
      </ul>
    </div>
  </div>
  <%- include('../partials/footer.ejs')%>
</body>

</html>