<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs')%>
</head>

<body>
  <!-- functions -->
  <%
  const calculateTotal = (Itemcategory) => {
    let total = 0;
    for (budgetItem of budgetdetails) {
      if(budgetItem.category === Itemcategory) {
        total += parseInt(budgetItem.amount);
      }
    }
    return total;
  };

  const calculateMultipleTotals = (itemcategory1, itemcategory2) => {
    let total = 0;
    for (budgetItem of budgetdetails) {
      if(budgetItem.category === itemcategory1 || budgetItem.category === itemcategory2) {
        total += parseInt(budgetItem.amount);
      }
    }
    return total;
  };

  const colorCode = (expectedamount, realamount) => {
    if (parseInt(expectedamount) - parseInt(realamount) > 0) {
      return 'greenColor';
    } else {
      return 'redColor';
    }
  };

  const getCurrentMonth = () => {
    const monthArray = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'December'];
    const currentDate = new Date();
    const currentMonth = currentDate.getMonth();
    const monthString = monthArray[currentMonth];
    return monthString;
  };
  %>
  <%
  <!-- Variables Used In Page  -->
  const totalIncome = calculateTotal('income');
  const totalExpense = calculateMultipleTotals('flex-expense', 'firm-expense');
  const firmExpenseTotal = calculateTotal('firm-expense');
  const flexExpenseTotal = calculateTotal('flex-expense');
  const expectedIncome = budgetplan[0].expectedincome;
  const expectedFirmExpenses = budgetplan[0].expectedfirmexpenses;
  const expectedFlexExpenses = budgetplan[0].expectedflexexpenses;
  const totalExpectedExpense = parseInt(expectedFirmExpenses) + parseInt(expectedFlexExpenses);
  const actualTotalColorClass = colorCode(totalExpectedExpense, totalExpense);
  const actualFirmExpenseColorClass = colorCode(expectedFirmExpenses, firmExpenseTotal);
  const actualFlexExpenseColorClass = colorCode(expectedFlexExpenses, flexExpenseTotal);
  const currentMonth = getCurrentMonth();
  %>
  <div class="content">
    <%- include('../partials/nav.ejs')%>
    <header class="index-header">
      <h2 class="center">Hello, <%= currentUser.firstname %>!
      </h2>
    </header>
    <div class="container">
      <div class="card-container">
        <div class="card">
          <div class="card-content">
            <h4> <%=currentMonth%> Income and Expenses</h4>
          </div>
          <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
              <li class="tab white"><a href="#income">TOTAL EARNED</a></li>
              <li class="tab white"><a href="#expense" class="active">TOTAL SPENT</a></li>
            </ul>
          </div>
          <div class="card-content">
            <div class="center" id="income">
              <h3 class="center">
                $<%=totalIncome%>
              </h3>
            </div>
            <div class="center" id="expense">
              <h3 class="center">
                $<%=totalExpense%></h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <%- include('../partials/budgettable.ejs')%>

      </div>

    </div>
  </div>
  </div>
  <%- include('../partials/footer.ejs')%>
</body>

</html>