<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs')%>
</head>

<body>
  <!-- functions -->
  <%
  const formatDate = (date) => {
    const dateArray = date.toJSON().split(" ");
    console.log(dateArray);
    const formattedDate = dateArray.slice(1, 3).join(" ");
    console.log(formattedDate);
    return formattedDate;
  }

  const calculateTotal = (Itemcategory) => {
    let total = 0;
    for (budgetItem of budgetDetails) {
      if(budgetItem.category === Itemcategory) {
        total += parseInt(budgetItem.amount);
      }
    }
    return total;
  }
  const calculateMultipleTotals = (itemcategory1, itemcategory2) => {
    let total = 0;
    for (budgetItem of budgetDetails) {
      if(budgetItem.category === itemcategory1 || budgetItem.category === itemcategory2) {
        total += parseInt(budgetItem.amount);
      }
    }
    return total;
  }
  %>
  <%- include('../partials/nav.ejs')%>
  <div class="container">
    <h1 class="center">Hello, <%= currentUser.firstname %>! Here's Your Budget Overview for this Month.</h1>
    <div class="row">
      <span>
        <div class="col s6 center">
          <h2>TOTAL EARNED</h2>
          <h3 class="center">
            <%const totalIncome = calculateTotal('income');%>
            $<%=totalIncome%>
          </h3>
        </div>
      </span>
      <span>
        <div class="col s6 center">
          <h2>TOTAL SPENT</h2>
          <h3 class="center">
            <%const totalExpense = calculateMultipleTotals('flex-expense', 'firm-expense')%>
            $<%=totalExpense%></h3>
        </div>
      </span>
    </div>
    <hr>
    <div class="row">
      <table class="col s12 striped centered responsive-table">
        <thead>
          <tr>
            <th>Budget Category</th>
            <th>Total Estimated</th>
            <th>Current Actual Total</th>
          </tr>
        <tbody>
          <tr>
            <td>Income</td>
            <td>$0</td>
            <td>$<%= totalIncome %></td>
          </tr>
          <tr>
            <td>Firm Expense</td>
            <td>$0</td>
            <td>
              <%const firmExpenseTotal = calculateTotal('firm-expense');%>
              $<%=firmExpenseTotal%>
            </td>
          </tr>
          <tr>
            <td>Flex Expenses</td>
            <td>$0</td>
            <td>
              <%const flexExpenseTotal = calculateTotal('flex-expense');%>
              $<%=flexExpenseTotal%>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr>
    <div class="row">
      <h4>Income</h4>
      <ul class="col s12 collapsible">
        <%
        for (budgetItem of budgetDetails) {
          <!-- budgetItem.date = formatDate(budgetItem.date); -->
          if(budgetItem.category === 'income') {
            const date = (budgetItem.date).toDateString();
        %>
        <li class="row">
          <p class="col s5"><%= date %></p>
          <p class="col s5">$<%= budgetItem.amount %></p>
          <a class="col s2" href="/budgetdetails/<%= budgetItem.id %>">See More Details</a>
        </li>
        <%
          }
        }
        %>
      </ul>
    </div>
    <div class="row">
      <h4>Flex Expenses</h4>
      <ul class="col s12 collapsible">
        <%
        for (budgetItem of budgetDetails) {
          <!-- budgetItem.date = formatDate(budgetItem.date); -->
          if(budgetItem.category === 'flex-expense') {
            const date = (budgetItem.date).toDateString();
        %>
        <li class="row">
          <p class="col s5"><%= date %></p>
          <p class="col s5">$<%= budgetItem.amount %></p>
          <a class="col s2" href="/budgetdetails/<%= budgetItem.id %>">See More Details</a>
        </li>
        <%
          }
        }
        %>
      </ul>
    </div>
    <div class="row">
      <h4>Firm Expenses</h4>
      <ul class="col s12 collapsible">
        <%
        for (budgetItem of budgetDetails) {
          <!-- budgetItem.date = formatDate(budgetItem.date); -->
          if(budgetItem.category === 'firm-expense') {
            const date = (budgetItem.date).toDateString();
        %>
        <li class="row">
          <p class="col s5"><%= date %></p>
          <p class="col s5">$<%= budgetItem.amount %></p>
          <a class="col s2" href="/budgetdetails/<%= budgetItem.id %>">See More Details</a>
        </li>
        <%
          }
        }
        %>
      </ul>
    </div>
  </div>
  <%- include('../partials/footer.ejs')%>
</body>

</html>